[Unit]
Description=antizapret-vpn daily update between 3:00 and 6:00

[Timer]
OnCalendar=*-*-* 03:00:00
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target