[Unit]
Description=AntiZapret VPN
After=network-online.target
Wants=network-online.target

[Service]
LimitNPROC=infinity
LimitNOFILE=65535
WorkingDirectory=/root/antizapret
ExecStartPre=/root/antizapret/iptables-up.sh
ExecStartPre=/bin/bash -c 'echo "cache.clear()" | socat - /run/knot-resolver/control/1'
ExecStart=/root/antizapret/proxy.py
ExecStopPost=/root/antizapret/iptables-down.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target