[Unit]
Description=antizapret-vpn update
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/root/antizapret
ExecStart=/bin/bash -c 'cat /root/antizapret/update.sh | bash'

[Install]
WantedBy=multi-user.target