[Unit]
Description=antizapret-vpn update
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/root/antizapret
ExecStart=/bin/bash -c 'cat /root/antizapret/doall.sh | bash'
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target