[Unit]
Description=dnsmap
After=network-online.target
Wants=network-online.target

[Service]
LimitNPROC=infinity
LimitNOFILE=65535
WorkingDirectory=/root/antizapret
ExecStart=/root/antizapret/proxy.py
Restart=on-failure

[Install]
WantedBy=multi-user.target