[Unit]
Description=dnsmap
After=network.target

[Service]
WorkingDirectory=/root/dnsmap
ExecStart=/root/dnsmap/proxy.py

[Install]
WantedBy=multi-user.target