[Unit]
Description=dnsmap
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/root/dnsmap
ExecStart=/root/dnsmap/proxy.py

[Install]
WantedBy=multi-user.target